<h1>New Post</h1>

<%= form_for(@posts) do |f| %>

<%= f.label :title %>
<%= f.text_field :title %><br>


<%= f.label :content %>
<%= f.text_area :content %><br>

<%= f.label :blogger %>
<%= f.collection_select  :blogger_id, Blogger.all, :id, :name %><br>

<%= f.label :destination %>
<%= f.collection_select  :destination_id, Destination.all, :id, :name %>

<%f.submit%>



<% end %>