<h1><%= @post.title%><br></h1>
<div>
       <p> <%= @post.content%><br></p>

</div>


<%= link_to 'Blogger Profile', blogger_path(@post.blogger) %><br>
<%= link_to 'Destination Profile', destination_path(@post.destination) %><br>

<%= link_to 'Edit', edit_post_path(@post)%><br>
<%= link_to 'Back', posts_path %><br>

