<h3>Post info</h3>
<p>Title: <%= @post.title%></p>
<label>Content:</label>
<p> <%= @post.title%></p>
<p>Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger)%></p>
<p>Destination: <%= link_to @post.destination.name, destination_path(@post.blogger)%></p>

<h2>Current likes: <%= @post.likes %></h2>

<%= button_to 'LIKE', like_post_path, method: :get%>