<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Bloggers", :bloggers %> | <%= link_to "Posts", :posts %> | <%= link_to "Destinations", :destinations %>
      | <%= link_to "New Blogger", :new_blogger%> | <%= link_to "New Post", :new_post %>
    </nav>
    <%= yield %>
  </body>
</html>
